### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

In [2]:
#### 1. 기본 클래스의 사용

In [3]:
# 클래스의 선언
class Calculator:
    
    num1 = 1
    num2 = 2
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [4]:
# 클래스의 사용
calc = Calculator()
calc

In [5]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [6]:
# self의 의미 : 객체 자신
calc2 = Calculator()

In [7]:
calc2.num1 = 10

In [8]:
calc2.plus()

12

### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(class) -> 실제 물건(object)
- 사용자 정의 데이터 타입

In [9]:
calc2.plus()

12

In [10]:
obj = "python"
obj.upper()

'PYTHON'

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용됩니다.

In [11]:
class Calculator:
    
    # 생성자 함수 : __init__
    def __init__(self,num1, num2 = 10):
        self.num1 = num1
        self.num2 = num2
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [12]:
calc1 = Calculator(3)

In [13]:
calc1.plus()

13

In [14]:
# join
ls = ["python", "is", "good"]
sep = " "
sep.join(ls)

'python is good'

In [15]:
# pandas dataframe
import pandas as pd

In [16]:
df = pd.DataFrame([
    {"name":"jin", "age":20},
    {"name":"andy", "age":21},
])
df

   age  name
0   20   jin
1   21  andy